:root {
    --primary: #F3603C;

  }
  
  .btn {
    padding: 8px 20px;
    border-radius: 50px;
    outline: none;
    border: none;
    cursor: pointer;

  }
  
  .btn--primary {
    background-color: var(--primary);
    color: #FCF6F5;

  }
  
  .btn--white {
    background-color: #FCF6F5;
    color: var(--primary);

  }

  .btn--medium {
    padding: 1em 2.5em;
    font-size: 13px;
  }
  
  .btn--large {
    padding: 12px 26px;
    font-size: 20px;
  }
  
  .btn--large:hover,
  .btn--medium:hover {
    transition: all 0.3s ease-out;
    background-color: #F98F75;
    transition: 250ms;
  }