.footer-container {
    background-color: #242424;
    padding: 0 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-top {
  background: #F3603C;
  color: #fff;
  width: 100%;
  padding: 4em 2em;
}

.footer-top-wrapper {
  max-width: 1500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.footer-top-heading {
  font-size: 40px;
  line-height: 44px;
  letter-spacing: -0.714286px;
  width: 445px;
}

.footer-bottom {
  display: flex;
  flex-basis: auto;
  width: 100%;
  height: 250px;
  padding: 3.5em 3em;
  justify-content: center;
}

/* Social Icons */

.social-media {
  width: 240px;
}

.social-media-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  max-width: 1000px;  
}

.footer-logo img {
  background-position: center;
  cursor: pointer;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  
}

.social-icon-link {
  color: #fff;
  font-size: 24px;
}

.social-icon-link:hover {
  color: #F3603C;
  transition: all 0.3s ease-out;
}

.footer-links {
  width: 100%;
  max-width: 1000px;
}

.footer-link-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 0 4em;
}

.footer-link-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
}

.footer-link-items h2 {
  margin-bottom: 16px;
}

.footer-link-items > h2 {
  color: #fff;
}

.footer-link-items a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 1rem;
}

.footer-link-items a:hover {
  color: #F3603C;
  transition: 0.3s ease-out;
}

.footer-subscription {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  text-align: center;
  color: #fff;
}

.input-areas form {
  display: flex;
}

.footer-input {
  padding: 1em 2em;
  border-radius: 50px;
  margin-right: 10px;
  outline: none;
  border: none;
  font-size: 13px;
  margin-bottom: 16px;
}

.footer-input::placeholder {
  color: #b1b1b1;
}

.footer-input p {
  color: #F3603C;
}

.website-rights {
  color: #fff;
  opacity: 0.5;
}



@media screen and (max-width: 820px) {
  .footer-top-wrapper {
    flex-direction: column;
    justify-content: center;
    padding: 4em 0;
  }

  .footer-top-heading {
    margin-bottom: 2rem;
    line-height: 50px;
    padding: 0 1.6em;
    text-align: center;
  }

  .footer-bottom {
    flex-direction: column-reverse;
    height: 100%;
    position: relative;
  }

  .footer-links {
    padding-top: 2rem;
  }

  .footer-input {
    width: 100%;
  }

  .btn {
    width: 100%;
  }

  .footer-link-wrapper {
    padding: 0 3em;
  }

  .social-media {
    margin: auto;
    width: 100%;
  }

  .social-media-wrap {
    flex-direction: column-reverse;
    align-items: center;
  
  }

  .social-icons {
    margin-top: 2rem;
    width: 90%;
  }

  .social-icon-link {
    font-size: 30px;
  }

  .footer-logo {
    margin: 2rem;
  }

  .footer-subscription {
    align-items: center;
    width: 100%;
  }

  .footer-input {
    width: 100%;
  }

  .website-rights {
    position: absolute;
    bottom: 20px;
  }
}

