.testimonial-container {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swiper-container {
  max-width: 1440px;
  padding: 3em;
  margin: 3rem auto;
  
}

.swiper-wrapper {
  width: 100%;
}

.swiper-slide {
  list-style: none;
  margin: 0;
}


.testimonial-container .btn {  
  margin-bottom: 8rem;
}

@media screen and (max-width: 768px) {
  .slider {
    flex-direction: column;
    overflow-x:hidden;
  }
}