.testimonial-card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 540px;
  background: #FAFAFA;
  text-align: center;
  padding: 4em 2em;
  margin: 3rem 0.75rem;
}

.name {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.text {
  font-size: 16px;
  line-height: 26px;
  color: #242D52;
  opacity: 0.5;
}
