.testimonial-container {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
  
}

.testimonial-container .btn {  
  margin-bottom: 8rem;
}

@media screen and (max-width: 768px) {
  .slider {
    flex-direction: column;
    overflow-x:hidden;
  }
}