@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Be Vietnam', sans-serif;

}

body {
  background: url('./images/bg-tablet-pattern.svg'), url('./images/bg-tablet-pattern.svg');
  background-position: top -10% right -30%, bottom 40% left -30%;
  background-repeat: no-repeat, no-repeat;
  overflow-x: hidden;
}

h1 {
  font-size: 56px;
  line-height: 64px;
}

h2 {
  font-size: 40px;
  line-height: 44px;
}



@media screen and (max-width: 768px) {
  h1 {
    font-size: 40px;
    line-height: 50px;
  }
  
  h2 {
    font-size: 30px;
    line-height: 45px;
  }
}
